*,
*::after,
*::before {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	letter-spacing: 0.43px;
	background-color: #010001;
	color: $white;
	position: relative;
}
// #070517
body.hidden {
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba($black, .6);
		z-index: 4;
	}
}

.main {
	flex-grow: 1;
}

.btn-reset {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font: inherit;
	padding: 0;
}

.wrapper {
	max-width: 1950px;
	margin: 0 auto;
}

.container {
	max-width: 1650px;
	margin: 0 auto;
	padding: 0 15px;
}

.hide {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	transition: opacity 1.3s;
}

.link-def {
	background-color: $accent;
	border-radius: 10px;
	text-align: center;
	display: block;
	transition: background-color .3s ease-in-out;
	&:hover{
		background-color: rgba($accent, .6);
	}

	&--small {
		padding: 17px 0px;
		max-width: 140px;
		width: 100%;
		font: 500 18px / 21px $font-second;
	}

	&--big {
		padding: 29px 0;
		max-width: 300px;
		font: 400 24px /28px $font-second;
		width: 100%;
	}
}

.section-title {
	font: 700 64px / 64px $font-default;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	width: fit-content;
	margin: 0 auto;
	&::before {
		filter: blur(60px);
		content: '';
		position: absolute;
		z-index: -1;
		@extend %bg-cover;
		background-image: url('../images/dest/decor-section-title.png');
	}

	&::after {
		content: '';
		display: block;
		max-width: 320px;
		width: 100%;
		height: 3px;
		margin-top: 20px;
		background: linear-gradient(270deg, rgba(255, 255, 255, 0) 10%, rgba(31, 142, 250, 1) 50%, rgba(255, 255, 255, 0) 90%);
	
	}
}
video{
	width: 100%;
}