// Colors
$black: #000000;
$white: #ffffff;
$bg:#0A071B;
$accent: #1f8efa;
// Colors
// Font
$font-default: 'Neue Helvetica';
$font-second: "Roboto";
// Font

%bg-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
%bg-contain{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}