.card {
  margin-bottom: 300px;
  &__title {
    margin-bottom: 70px;

    &::before {
      width: 133px;
      height: 112px;
      left: 45px;
      top: -28px;
    }
  }
}

.card-content {
  gap: 150px 30px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &-icon {
      margin-right: 35px;
    }

    &-descr {
      max-width: 550px;
    }

    &-text {
      font: 400 24px / 38px $font-default;

      &--accent {
        font: 500 28px / 44px $font-default;
        ;
        color: $accent;
      }
    }
  }
}

.card-content__decor {
  &-icon {
    filter: blur(100px);
  }

  &-img {
    bottom: 0;
  }

  &-img.card-bottom {
    bottom: 102px;
    right: 0;
    z-index: 1;
  }

  &-img.card-top {
    top: 0;
    right: 0;
    z-index: 1;
  }

  &-img.decor-dol-1 {
    width: 18px;
    height: 28px;
    top: 200px;
    right: 55px;
    z-index: 1;
    animation: decor-1 3s infinite ease-in-out;
  }

  &-img.decor-dol-2 {
    width: 40px;
    height: 61px;
    bottom: 200px;
    right: 10px;
    z-index: 1;
    animation: decor-1 3s infinite ease-in-out;
    animation-delay: 0.5;
  }

  &-img.decor-dol-3 {
    width: 40px;
    height: 61px;
    top:80px;
  left: 78px;
  z-index: 1;
  animation: decor-1 4s infinite ease-in-out;
    animation-delay: 0.9;
  }

  &-img.decor-dol-4 {
    width: 50px;
    height: 78px;
    left: -17px;
    top: 12px;
    z-index: 1;
    animation: decor-1 3.5s infinite ease-in-out;
    animation-delay: 0.7;
  }

  &-img.decor-euro-1 {
    width: 35px;
    height: 47px;
    z-index: 1;
    top: -35px;
    right: 100px;
    animation: decor-1 2.5s infinite ease-in-out;
    animation-delay: 0.1;
  }

  &-img.decor-euro-2 {
    width: 50px;
    height: 78px;
    z-index: 1;
    bottom: 150px;
    left:30px;
    animation: decor-1 5s infinite ease-in-out;
    animation-delay: 1.4;
  }

}

@keyframes decor-1 {
  0%{
    transform: scale(0);
  }
  25%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(0.6);
  }
  75%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(0);
  }
}