.control{
  margin-bottom: 300px;
  &__title{
    margin-bottom: 100px;
    &::before{
      width: 111px;
    height: 94px;
    top: -58px;
    left: 51%;
    }
  }
  &__items{
    gap:60px 30px;
  }
}
.control-item{
  max-width: 300px;
  &__icon{
    margin: 0 auto 37px;
    width: 149px;
    height: 149px;

  }
  &__title{
    font: 500 36px / 57px $font-default;
    margin-bottom: 10px;
  }
  &__text{
    font: 400 18px / 28px $font-default;
    opacity: .6;
  }
}