.iban {
  margin-bottom: 300px;

  &__container {
    gap: 100px 0;
  }

  &__box {
    width: 100%;
  }
}

.iban-content {
  max-width: 755px;
  margin-top: -40px;


  &__title {
    max-width: 755px;
    margin-left: 0;

    &::after {
      margin-right: auto;
    }

    &::before {
      left: 30px;
      top: -20px;
      width: 154px;
      height: 130px;
    }
  }

  &__text {
    font: 400 24px / 38px $font-default;
    opacity: 0.6;

    &--accent {
      font: 400 24px / 38px $font-default;
      opacity: 0.6;
      color: $white;
      margin-bottom: 55px;
    }
  }
}

.currencies {
  &-item {
    &:not(:last-child) {
      margin-right: 90px;
    }

    display: flex;
    align-items: center;

    &::before {
      content: '';
      width: 44px;
      height: 44px;
      @extend %bg-cover;
      background-image: url('../images/dest/sprite.svg#check-box');
      margin-right: 26px;
      display: block;
      margin-top: -2px;
    }

    &__text {
      font: 700 24px / 38px $font-default;
      text-transform: uppercase;
    }
  }
}

.iban-decor {
  max-width: 788px;
  padding: 100px 0 0;
  z-index: 1;
  margin-top: -18%;

  &__icon {
    z-index: 1;
    right: 105px;
    bottom: -92px;
    filter: blur(150px);
    width: 513px;
    height: 408px;
  }

  &__bg {
    position: relative;
    z-index: 2;
  }

  &__item {
    max-width: 544px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}